<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Masuk - Pembangkit Caption Otomatis</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
   <link href="{{ url_for('static', filename='css/login.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
 <!-- <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
</head>
<body>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.jcarousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
  <script src="{{ url_for('static', filename='js/login.js') }}"></script>
  <!-- /Scripts-->
  <div id = "login">
    <nav class="white" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"></a>
     <i class="material-icons">menu</i>
     <ul class="hide-on-med-and-down right" id="nav-bar">
      <li><a href="/login/">Masuk</a></li>
      <li><a href="/register/">Daftar</a></li>
    </ul>
  </div>
</nav>
    <div class="title">
      <p class = "register-or-login">PEMBANGKIT CAPTION OTOMATIS</p>
      <p>Belum punya akun ? <a href="/register/">Daftar di sini</a></p>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <p>
        {% for message in messages %}
          {{ message }}
        {% endfor %}
        </p>
      {% endif %}
    {% endwith %}
    </div>
    
    <div class="row">
      <div class="mycontent-right">
        <form action="" class="form-inline" method="post"> 
        <input placeholder = "E-mail" class="authentication-input" id="email" name="email" value="{{request.form.email}}" required="required" />
        <input type="password" placeholder = "Kata Sandi" class="authentication-input" id="password" name="password" value="{{request.form.password}}" required="required" />
        <input class="btn submit-login" type="submit" value="Masuk">
        {% if error != '' %}<div class="warning-container"> 
          
          <p>{{error}}</p> 
          
        </div>{% endif %}
        </form>
      </div>
    </div>
</body>
</html>
